
<h2 class="text-center mb-4">
  @if (id) {
    Editar Curso
  } @else {
    Crear Curso
  }
</h2>

<form [formGroup]="form" (ngSubmit)="id ? updateCursos() : addCurso()">

    <div class="mb-3">
      <label for="titulo" class="form-label">Titulo del Curso</label>
      <input type="text" class="form-control" id="titulo" formControlName="titulo"
      [class.is-invalid]="form.get('titulo')?.invalid && form.get('titulo')?.touched"/>
      @if (form.get('titulo')?.invalid && form.get('titulo')?.touched){
        <div class="invalid-feedback">El título es obligatorio.</div>
      }
    </div>

    <div class="mb-3">
        <label for="descripcion" class="form-label">Descripción</label>
        <textarea class="form-control" id="descripcion" formControlName="descripcion" rows="3"
        [class.is-invalid]="form.get('descripcion')?.invalid && form.get('descripcion')?.touched"></textarea>
        @if (form.get('descripcion')?.invalid && form.get('descripcion')?.touched) {
          <div class="invalid-feedback">La descripción es obligatoria.</div>
        }
      </div>

      <div class="mb-3">
        <label for="precio" class="form-label">Precio del Curso</label>
        <input
          type="number"
          id="precio"
          class="form-control"
          formControlName="precio"
          [class.is-invalid]="form.get('precio')?.invalid && form.get('precio')?.touched"
        />
        @if (form.get('precio')?.invalid && form.get('precio')?.touched) {
          <div class="invalid-feedback">El precio es obligatorio y debe ser mayor a 0.</div>
          <div class="form-text">Ej: 10.99</div>
        }
      </div>

      <div class="mb-3">
        <label for="urlImagen" class="form-label">Url de la Imagen</label>
        <input type="text" class="form-control" id="urlImagen" formControlName="urlImagen"
        [class.is-invalid]="form.get('urlImagen')?.invalid && form.get('urlImagen')?.touched"/>
        @if (form.get('urlImagen')?.invalid && form.get('urlImagen')?.touched) {
          <div class="invalid-feedback">La url de la imagen es obligatoria.</div>
          <div class="form-text">Ej: https://i.ytimg.com/vi/dQw4w9WgXcQ/maxresdefault.jpg</div>
        }
      </div>

      
      <div class="mb-3">
        <label for="videoUrl" class="form-label">URL del Video (opcional)</label>
        <input type="text" id="videoUrl" class="form-control" formControlName="videoUrl" />
        <div class="form-text">Ej: https://www.youtube.com/watch?v=dQw4w9WgXcQ</div>
      </div>

      
      <div class="mb-3">
        <label for="pasos" class="form-label">Pasos del curso (separados por coma)</label>
        <input type="text" id="pasos" class="form-control" formControlName="pasos" />
        <div class="form-text">Ej: Introducción, HTML Básico, CSS Avanzado</div>
      </div>

    <button type="submit" class="btn btn-success w-100" [disabled]="form.invalid">
      @if (id) {
        Actualizar Curso
      } @else {
        Guardar Curso
      }
    </button>
  </form>